# Environments
.env*
.venv
env/
venv/
ENV/

# Node
node_modules/
.next/
out/
.vercel

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs
.idea/
.vscode/

# Build and OS
dist/
build/
*.egg-info/
.DS_Store

# Trace & Logs
ingest_trace.txt
*.log
